absl-py==1.0.0
aiohttp==3.7.4
aiohttp-retry==2.5.0
aiosignal==1.1.0
alembic==1.8.1
amqp==5.0.0
aniso8601==8.1.0
annotated-types==0.5.0
antlr4-python3-runtime==4.7.2
appdirs==1.4.2
astunparse==1.6.1
async-timeout==3.0.1
asyncssh==2.10.0
atpublic==3.0.0
attrs==21.2.0
billiard==3.6.4.0
blinker==1.4
cachetools==4.2.2
celery==5.4.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.1.0
click==7.1.2
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==3.0.0
colorama==0.4.6
configobj==5.0.8
contourpy==1.0.7
cryptography==42.0.8
cycler==0.12.1
databricks-cli==0.18.0
Deprecated==1.2.14
dictdiffer==0.9.0
diskcache==5.6.3
distro==1.9.0
docker==7.1.0
dpath==2.2.0
dulwich==0.22.1
dvc==3.38.1
dvc-data==3.7.0
dvc-http==2.32.0
dvc-objects==3.0.6
dvc-objects==3.0.6
dvc-render==1.0.1
dvc-studio-client==0.20.0
dvc-task==0.4.0
dvc
entrypoints==0.4
filelock==3.15.1
Flask==3.0.3
flatbuffers==24.3.25
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.53.0
frozenlist==1.4.1
fsspec==2024.6.0
funcy==2.0
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.30.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grandalf==0.8
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.0.3
grpcio==1.64.1
gto==1.6.2
gto==1.6.2
gunicorn==22.0.0
h5py==3.11.0
hydra-core==1.3.2
idna==3.7
imageio==2.34.1
imbalanced-learn==0.12.3
imblearn==0.0
importlib_metadata==4.10.0
iterative-telemetry==0.0.8
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
keras==2.14.0
kiwisolver==1.4.5
kombu==5.3.7
lazy_loader==0.4
libclang==18.1.1
lime==0.2.0.1
llvmlite==0.41.1
Mako==1.3.5
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib== 3.7.5
mdurl==0.1.2
ml-dtypes==0.2.0
ml-dtypes==0.2.0
mlflow==2.14.1
multidict==6.0.5
namex==0.0.8
networkx==2.6.3
numba==0.60.0
numpy==1.21.4
oauthlib==3.1.1
omegaconf==2.1.1
opentelemetry-api==1.4.0
opentelemetry-sdk==1.4.0
opentelemetry-semantic-conventions==0.27b0
opt-einsum==3.2.1
optree==0.9.0
orjson==3.5.1
packaging==21.3
pandas==1.4.3
pathspec==0.9.0
pillow==9.3.0
pipdeptree==2.2.0
platformdirs==2.4.1
prometheus-flask-exporter==0.18.0
prometheus_client==0.11.0
prompt_toolkit==3.0.22
protobuf==3.19.0
psutil==5.8.0
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1_modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pydantic_core==2.0.0
pydot==1.4.2
pygit2==1.6.1
Pygments==2.10.0
pygtrie==2.5.0
PyJWT==2.8.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
querystring-parser==1.2.4
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.7.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-image==0.23.2
scikit-learn==1.5.0
scipy==1.13.1
scmrepo==2.1.1
seaborn==0.13.2
semver==3.0.2
shap==0.45.1
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.1
six==1.16.0
slicer==0.0.8
smmap==5.0.1
SQLAlchemy==2.0.31
sqlparse==0.5.0
sqltrie==0.11.0
tabulate==0.9.0
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.37.0
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.5.22
tomlkit==0.12.5
tqdm==4.66.4
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
vine==5.1.0
voluptuous==0.14.2
wcwidth==0.2.13
Werkzeug==3.0.3
wrapt==1.14.1
yarl==1.9.4
zc.lockfile==3.0.post1
zipp==3.19.2
